<!-- Header -->
<p-menubar>
  <ng-template pTemplate="start">
    <img src="../../../assets/logo.webp" alt="logo" height="40" class="p-mr-2 logo-class">
    <span class="p-mr-2">COVID-19 Stats</span>
  </ng-template>
  <ng-template pTemplate="end">
    <ul class="menu-end">
      <li> InterBiz </li>
      <li><a routerLink="/stats">Daily Stats</a></li>
    </ul>
  </ng-template>
  <!-- After implementing Authentication -->
  <!-- <ng-template pTemplate="end">
    <button pButton type="button" icon="pi pi-sign-out" label="Logout" class="p-button-outlined"></button>
  </ng-template> -->
</p-menubar>

<!-- Main -->
